* {
    padding: 0px;
    margin: 0px;
    font-size: 11px;
    font-family: Helvetica;
}

.main-container {
    width: 100%;
    height: 100vh;
}

.navbar {
    border: solid 1px red;
    height: 6vh;
}


.content {
    border: solid 1px green;
    height: 91vh;
}


.footer {
    position: relative;
    height: 2vh;
    border: solid 1px blue;
}